:root {
  --color-colours-primary-colour: #0083bd;
  --color-colours-secondary-colour: #2f2f2f;
  --color-colours-tertiary-colour: #75f386;
  --color-colours-white: #ffffff;
  --content-font-family-body: Montserrat;
  --content-font-family-heading: Montserrat;
  --content-font-weight-bold: Medium;
  --content-font-weight-regular: Regular;
}
